:root {

    --orange: #fe6a39;
    --orange-light: #FF7A4C;
    --orange-dark: #ff5b24;
    --orange-background: rgba(255, 122, 76, 0.11);
    --black: black;
    --white: white;
    --light-grey: #3a3a3a;
}

.form_color
{
    background-color: var(--orange-background);
    padding: 20px 65px;
    margin-bottom: 0;
}

.row h2
{
    font-family: "Raleway-medium";
    color: var(--orange);
}