:root {

    --orange: #fe6a39;
    --orange-light: #FF7A4C;
    --orange-dark: #ff5b24;
    --orange-background: rgba(255, 122, 76, 0.11);
    --black: black;
    --white: white;
    --light-grey: #3a3a3a;
}

.singin{

    font-family: "Playfair Display";
    font-style: normal;
    font-size: 32px;
    color: var(--orange-dark);
}
.bgbackground{

    background-color: var(--orange-background);
    padding: 60px;
    width: 800px;
}

.policeform{
    font-family: "Raleway-regular";
    color: var(--light-grey);
    font-size: 15px;
}

.boutoninscription{
    background-color: var(--orange);
    border-color: var(--white);
    border-radius: 6px;
    line-height: 15px;
    width: 120px;
    font-family: 'Raleway-regular';
    font-size: 15px;
    color: var(--white);
}