 <!-- FOOTER -->
 <footer>
     <div class="container-fluid footer-custom">
         <div class="row">
            <p>2021 Goodies and Co;</p>
             <small>
             <p>La boutique d'accessoires de référence</p>
                 <a href="#">Privacy</a> .
                 <a href="#">Terms</a>
             </small>
     </div>
 </footer>